<h1>Create A New Cider</h1>

<%= simple_form_for @cider do |f| %>
  <%= f.input :name %>
  <%= f.input :region %>
  <%= f.input :flavor %>
  <%= f.input :alcohol_level %>
  <%= f.button :submit %>
  <%= f.input :photo, as: file %>

<% end %>
