<div class="container">
  <h1>Create A New Cider</h1>
  <div id="form-container">
  <%= simple_form_for @cider do |f| %>
    <%= f.input :name %>
    <%= f.input :region %>
    <%= f.input :flavor %>
    <%= f.input :price %>
    <%= f.input :alcohol_level %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>

  <% end %>
  </div>
</div>
