
<div class="container">
  <%= cl_image_tag(cider.photo.key), class: "product-page-photo"%>

</div>

  <h2><%= @cider.name %></h2>
  <p>flavor: <%= @cider.flavor %></p>
  <p> <%= @cider.alcohol_level%>%</p>
  <p><%= @cider.price %>€</p>
  <p></p>
  <button type="submit" name="add-to-cart" value="13816"
  class="single_add_to_cart_button button alt">Ajouter au panier</button>
  <%= link_to "Edit your cider", edit_cider_path(@cider) %>
