
<div class="container bg-white mt-3 p-1">
  <div class="row position-relative">
    <div class="col-12 col-lg-6">
      <%= cl_image_tag(@cider.photo.key, class:"product-page-photo justify-content-center")%>
    </div>

    <div class="col-12 col-lg-6">
            <% if @cider.user_id === current_user.id %>
          <div class="product-modifier d-inline">
            <%= link_to edit_cider_path(@cider) do %>
              <i class="fa-solid fa-pen-clip"></i>
            <% end %>
            <%= link_to cider_path(@cider), method: :delete do %>
              <i class="fa-solid fa-dumpster"></i>
            <% end %>
          </div>
    <% end %>
      <div class="product-page-description p-3">
        <div class="product-header">
          <h2><%= @cider.name %></h2>
          <h5><%= @cider.region %></h5>
          <% if Reservation.where(cider_id: @cider).exists?  %>
            <p>Tested <%= Reservation.where(cider_id: @cider).count %> times</p>
          <% end %>

        </div>
        <div class="product-infos d-inline d-flex">
          <p><%= @cider.flavor %></p>

        </div>
        <div class="product-infos pt-5 mt-5 mb-0 d-inline d-flex">
          <p><%= @cider.alcohol_level%>%</p>
          <p></span><%= @cider.price %>€</p>
        </div>
          <% if @rating != 0 %>
            <p class="d-inline mt-0 fs-3"><%= cl_image_tag("Sunflower_Seed_ez1ap1.jpg", class: "rating-seeds-lg")*@rating %></p>
          <% else  %>
            <p>No ratings yet. After tasting, be the first to review this cider! </p>
          <% end  %>

        <% if @renter %>

        <% elsif @reserved && @renter %>
          <p>Would you like to return this cider?</p>
          <%= link_to "Return", edit_cider_reservation_path(cider_id: params[:id]), class: "btn w-100" %>        </div>
        <% elsif @reserved %>
          <p>Reserved by someone else. Sorry!</p>
        <% else %>
          <%# <%= link_to "Reserve", cider_reservations_path(cider_id: params[:id]), method: :post, class: "btn w-100" %>
          <%= link_to cider_reservations_path(cider_id: params[:id]), method: :post, class: "w-100 position-relative btn" do%>
            <p class= "btn w-100 fw-lighter fs-4 p-0" >Reserve</p>
            <div class="btn-border"></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <%# <div class="product-reviews">
    <%= @reviews.each do |review|  %>
  <%# </div> %>
  </div>
</div>
<% if @reviews[0] %>
  <div class="mt-5 review-banner">
    <div class="container">
      <ol class="list-group product-reviews m-3 mt-5">
        <h3 class="p-3">Your thoughts:</h3>
        <% @reviews.each do |review| %>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold mb-1"><%= review.title %></div>
              <%= review.content %>
            </div>
            <span><%= cl_image_tag("Sunflower_Seed_ez1ap1.jpg", class:"rating-seeds-lg")*review.rating%></span>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
<% else %>
  <div class="mt-5 review-banner">
    <div class="container">
      <h5 class="p-3">No reviews yet. Be the first to add one!</h5>
    </div>
  </div>
<% end  %>
