
<div class="container bg-white mt-3 p-1">
  <div class="row position-relative">
    <div class="col-12 col-lg-6">
      <%= cl_image_tag(@cider.photo.key, class:"product-page-photo justify-content-center")%>
    </div>

    <div class="col-12 col-lg-6">
      <div class="product-page-description p-3">
        <div class="product-header">
          <h2><%= @cider.name %></h2>
          <p>Tested <%= Reservation.where(cider_id: @cider).count %> times</p>
          <p>flavor: <%= @cider.flavor %></p>
        </div>
        <p><i class="fa-solid fa-seedling"></i><i class="fa-solid fa-seedling"></i><i class="fa-solid fa-seedling"></i></p>
        <div class="product-infos d-inline">
          <p> <%= @cider.alcohol_level%>%</p>
          <p><%= @cider.price %>€</p>
        </div>
        <div class="product-button align-items-end">
          <%= link_to "Reserve", cider_reservations_path(cider_id: params[:id]), method: :post, class: "btn w-100" %>        </div>
      </div>
    </div>
  </div>
  <ol class="list-group product-reviews m-3 mt-5">
    <h3>Your thoughts:</h3>
    <% @reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold mb-1"><%= review.title %></div>
          <%= review.content %>
        </div>
        <span><%= cl_image_tag("Sunflower_Seed_ez1ap1.jpg", class:"rating-seeds")%></span>
      </li>
    <% end %>
  </ol>
</div>
