<div class="home-banner ">
 <div class="container h-100 d-flex flex-column justify-content-around align-items-center" >
    <div class="typed-js-container">
      <span data-controller="typed-js"></span>
    </div>
    <div class="btn-wrapper w-100">
      <%= link_to ciders_path, class: " w-100 position-relative btn" do%>
        <h3 class= "btn w-100 fw-lighter fs-4 p-0" >Straight to our ciders!</h3>
      <div class="btn-border"></div>
      <% end %>
    </div>
 </div>
</div>

<div class="just-posted m-3">
  <div class="container pt-5 mb-5">
    <h1 class = "pb-0">Just been posted</h1>
    <h3 class="undertitles">Be the first to try them!</h3>
  </div>

  <div class="container d-flex mb-5">
    <div class="posted w-50 d-flex m-3 ms-0">
      <img class="recent-ciders-img h-100" src="https://www.calyce-cidre.com/wp-content/uploads/2022/04/Menu-Avril-scaled.jpg" alt="cider picnic">
    </div>
    <div class="recent-ciders w-50 d-flex">
      <div class="row ms-1 w-100 h-100 ">
        <% @recent_ciders.each do |cider| %>
          <div class="col-6 position-relative w-50 p-0">
            <%= link_to cider_path(cider) do %>
              <%= render "layouts/card", cider: cider %>
            <% end %>
            <% if cider.user_id === current_user.id %>
              <div class="product-modifier d-inline">
                <%= link_to edit_cider_path(cider) do %>
                  <i class="fa-solid fa-pen-clip"></i>
                <% end %>
                <%= link_to cider_path(cider), method: :delete do %>
                  <i class="fa-solid fa-dumpster"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <div class="selection">
    <div class="container">
      <div class="element-header">
        <h1 class = "p-3 pb-0 text-center fw-lighter">Our selections</h1>
        <h3 class = "undertitles p-3 pb-0 text-center fw-lighter mb-5">Selected by our very passionate team, here are ciders as alive as the people making them</h3>
      </div>
    </div>
    <div class="container d-flex justify-content-between">
      <div class="row flex-grow-1">
        <div class="col-3">
          <%= link_to "ciders?query=breton&commit=Press%21" do %>
            <div class="card selection-card" id="breton-selection">
              <h3>Bretons</h3>
            </div>
          <% end %>
        </div>
        <div class="col-3">
           <%= link_to "ciders?query=irish&commit=Press%21" do %>
            <div class="card selection-card" id="irish-selection">
              <h3>Irish</h3>
            </div>
          <% end %>
        </div>
        <div class="col-3">
          <%= link_to "ciders?query=english&commit=Press%21" do %>
            <div class="card selection-card" id="english-selection">
              <h3>English</h3>
            </div>
          <% end %>
        </div>
        <div class="col-3">
          <%= link_to "ciders?query=normand&commit=Press%21" do %>
            <div class="card selection-card" id="normand-selection">
              <h3>Normands</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <h3 class = "undertitles p-2 pb-0 text-center fw-lighter mb-5 ">Make your very own selection</h3>
      <%= form_tag ciders_path, class:'d-flex flex-grow-1 mb-5', method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control flex-grow-1 input1 p-2",
          placeholder: "   Find a cider"
        %>
        <%= submit_tag "Press!", class: "btn flex-grow-0 input2 ps-5 pe-5" %>
      <% end %>
    </div>
  </div>

  <div class="container vh-100 d-flex flex-column justify-content-around">
    <div class="element-header">
      <h1 class = "titles p-3 pb-0 text-center fw-lighter">Our best sellers</h1>
      <h3 class = "undertitles p-3 pb-0 text-center fw-lighter mb-5">the ones hiding behind your best finds</h3>
    </div>
    <div class="top-sellers row">
      <% @top_sellers.each do |seller| %>
        <div class="seller-card col-3">
          <div style="background-image: linear-gradient(rgba(246, 247, 235, 0.1), rgba(234, 235, 237, 0.1)),url(<%= cl_image_path seller.photo.key %>)" class="seller" ></div>
          <h3><%= seller.first_name %> <%= seller.last_name %></h3>
          <p><%= seller.profile %></p>
          <p class="undertitles">Rented <%= Reservation.where(user_id: seller).count %> bottles</p>
        </div>
      <% end %>
    </div>
    <h3 class="undertitles text-center m-5">Since our launch in 2022, <%= Reservation.count %> bottles have been reserved!</h3>
  </div>

  <div class="last-reviews">
    <div class="review-banner">
      <div class="container">
        <ol class="list-group product-reviews m-3 mt-5">
          <h3 class="p-3">Your thoughts</h3>
          <% @last_reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold mb-1"><%= Cider.where(id: review.cider_id).name %><%= review.title %></div>
                <%= review.content %>
              </div>
              <span><%= cl_image_tag("Sunflower_Seed_ez1ap1.jpg", class:"rating-seeds-lg")*review.rating%></span>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
