<div class="banner">
  <h1 class="banner-text">Hello <%= @user.first_name %>!</h1>
</div>
<div class="container mt-5 mb-5">
  <div class="row mt-5">
    <h3 class = "text-center">Your ciders</h3>
      <% @ciders.each do |cider| %>
        <div class="col-12 col-sm-8 col-m-8 col-lg-4 position-relative">
          <% if current_user.nil? %>

          <%= else %>
            <% if cider.user_id === current_user.id %>
              <div class="product-modifier d-inline">
                <%= link_to edit_cider_path(cider) do %>
                  <i class="fa-solid fa-pen-clip"></i>
                <% end %>
                <%= link_to cider_path(cider), method: :delete do %>
                  <i class="fa-solid fa-dumpster"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= link_to cider_path(cider) do  %>
            <%= render "layouts/card", cider: cider %>
          <% end %>
        </div>
      <% end %>
  </div>

<div class="row mt-5">
  <h3 class = "text-center">Current Reservations</h3>
    <% @active_rented_ciders.each do |rented_cider| %>
      <div class="col-12 col-sm-8 col-m-8 col-lg-4">
        <%= link_to cider_path(rented_cider) do  %>
          <%= render "layouts/card", cider: rented_cider %>
          <%= link_to "Leave a review", new_cider_review_path(rented_cider), class: "link cider-review" %>
        <% end %>
      </div>
    <% end %>
</div>
<div class="row mt-5">
  <h3 class = "text-center">Past Reservations</h3>
    <% @past_rented_ciders.each do |rented_cider| %>
      <div class="col-12 col-sm-8 col-m-8 col-lg-4">
        <%= link_to cider_path(rented_cider) do  %>
          <%= render "layouts/card", cider: rented_cider %>
          <%= link_to "Leave a review", new_cider_review_path(rented_cider), class: "link cider-review" %>
        <% end %>
      </div>
    <% end %>
</div>
</div>
