<h1>Add A New Review</h1>
<div id="form-container">
<%= simple_form_for [ @cider, @review ] do |r| %>
  <%= r.input :title %>
  <%= r.input :content %>
  <%= r.input :rating %>
  <%= r.submit "Submit review", class: "btn" %>
<% end %>

 <%# <%= link_to "Back to Ciders", ciders_path, class: "btn" %>
 </div>
