<%cider = @cider if cider.nil?%>

<div class="card-product m-3 justify-content-evenly position-relative">
  <%= cl_image_tag(cider.photo.key)%>
  <div class="card-product-infos">
        <% if cider.user_id === current_user.id %>
    <div class="product-modifier d-inline">
      <%= link_to edit_cider_path(cider) do %>
        <i class="fa-solid fa-pen-clip"></i>
      <% end %>
      <%= link_to cider_path(cider), method: :delete do %>
        <i class="fa-solid fa-dumpster"></i>
      <% end %>
    </div>
  <% end %>
    <div class="card-title">
      <h2><%= cider.name %></h2>
        <p>Tested <%= Reservation.where(cider_id: cider).count %> times</p>
    </div>
    <div class="card-infos">
      <%# <%= image_tag("Sunflower_Seed.jpg", class: "rating-seeds")*@review.rating%>
      <div class="card-legal-infos d-flex justify-content-between">
        <p><%= cider.price %></p>
        <p><%= cider.alcohol_level %>%</p>
      </div>
    </div>
  </div>

  <% if cider.user_id === current_user %>
    <div class="product-modifier d-inline">
      <%= link_to edit_cider_path(cider) do %>
        <i class="fa-solid fa-pen-clip"></i>
      <% end %>
      <%= link_to cider_path(cider), method: :delete do %>
        <i class="fa-solid fa-dumpster"></i>
      <% end %>
    </div>
  <% end %>

</div>
